.news {
  width: fit-content;
  margin: 0 auto;
}

.block {
  max-width: 640px;
}

.newsCard {
  max-width: 600px;
  position: relative;
  display: flex;
  flex-direction: row;

  background-color: var(--system_white);
  border-radius: 8px;
  padding-top: 14px;
  padding-right: 32px;
  padding-bottom: 14px;
  padding-left: 14px;
  margin-bottom: 36px;

  transition: .3s linear;
  box-shadow: 0 2px 6px rgba(0, 0, 0, .2);

  &:hover {
    box-shadow: 0 2px 20px rgba(0, 0, 0, .3);
  }
}

.editSymbol {
  width: 12px;
  position: absolute;
  bottom: 18px;
  right: 10px;
  cursor: pointer;
  opacity: .4;
  transition: .2s linear;

  &:hover {
    opacity: 1;
  }
}

.newsTextWrapper {
  display: flex;
  flex-direction: column;
  margin-left: 14px;
}

.newsImg {
  max-width: 240px;
  min-width: 240px;
  overflow: hidden;
  object-fit: cover;
  object-position: center;
  border-radius: 8px;
}

.newsTitle {
  font-family: var(--basic-font);
  font-size: 20px;
  line-height: 24px;
  font-style: normal;
  font-weight: 600;
  text-align: left;
  color: var(--system_black);
  text-rendering: optimizeLegibility;

  margin-top: 0;
  margin-bottom: 12px;
}

.newsText {
  font-family: var(--basic-font);
  font-size: 16px;
  line-height: 22px;
  font-style: normal;
  font-weight: 400;
  text-align: left;
  color: var(--system_black);

  margin-top: 0;
  margin-bottom: 12px;
}

.newsLink {
  width: fit-content;
  max-width: 340px;
  font-family: var(--basic-font);
  font-size: 14px;
  line-height: 20px;
  font-style: normal;
  font-weight: 400;
  text-align: left;
  overflow: hidden;
  text-overflow: ellipsis;
  color: var(--main-color);
  transition: .2s linear;

  &:hover {
    color: var(--secondary-color);
    text-decoration: none;
  }
}
