:root {
  --system_black: #000;
  --system_white: #fff;

  --main-color: #415167;
  --secondary-color: #C7A17A;

  --link-color: #EDF0F5;
  --link-color-hover: #C7A17A;
  --link-color-active: #C7A17A;

  --error-color: #DC143C;
}


